langchain_core==0.3.37
langchain_openai==0.3.6
langchain_pinecone==0.2.3
langgraph==0.2.74
openai==1.64.0
pinecone==6.0.1
psycopg2_binary==2.9.10
pytest==8.3.4
python-dotenv==1.0.1
python_bcrypt==0.3.2
streamlit==1.42.0
streamlit==1.42.1
streamlit_chat==0.1.1
